<div class="body">
  <div class="top-card">
    <div class="header">
      <div class="sub-title">CAR VACUUM CLEANER</div>
      <div class="title">АВТОМОБІЛЬНИЙ ПИЛОСОС</div>
    </div>
    <div class="featured-media">
      <div class="discount">28% знижка</div>
      <img width="1020" height="1020" ngSrc="/images/header.jpeg" alt="Featured Media">
    </div>
    <div class="pricing-block">
      <div class="old-price">
        <span>Звичайна ціна</span>
        <strong>699</strong>
        <small>грн</small>
      </div>
      <div class="new-price">
        <span>Акційна ціна</span>
        <strong>499</strong>
        <small>грн</small>
      </div>
    </div>
    <div class="order-button">
      <a href="#order_form" class="big-button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    </div>
  </div>
</div>
