.product-order-btn {
  padding: 20px;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb73b;
    border-radius: 5px;
    min-height: 90px;
    font-size: 30px;
    font-weight: 700;
    color: #222;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    text-decoration: none;
    box-shadow: var(--cr-shadow);
    border: none;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;

    @media (max-width: 600px) {
      font-size: 26px;
    }
  }
}
