<app-support-wrapper title="Оплата та доставка">
  <p>Доставка товару здійснюється фірмами поштового замовлення, а саме: «Нова Пошта», «Укрпошта». Вартість доставки базується на тарифах фірм-перевізників, з якими ви можете ознайомитися на їх ресурсах. Номер ТТН замовлення повідомляється вам через канали, яким було виконане замовлення або за допомогою повідомлення на зазначений номер телефону.</p>
  <p class="has-medium-font-size"><strong>Доставка Новою Поштою</strong></p>
  <p><strong>Оплата післяплатою</strong></p>
  <p>Вартість доставки Новою Поштою з оплатою при отриманні (післяплата) здійснюється за рахунок покупця згідно до тарифів перевізника – в середньому від 45 до 200 грн. Оплата замовленя виконується у відділенні перевізника під час отримання. Термін доставки замовленого товару – від 1 до 7 робочих днів. Перелік відділень, у які здійснюється доставка, можна уточнити у менеджерів або ж на сайті перевізника “Нова пошта”. Перед відправкою всі вантажі перевіряються та страхуються на повну вартість. Для отримання замовлення необхідно мати при собі паспорт і знати номер експрес накладної.</p>
  <p><strong>Оплата передплатою</strong></p>
  <p>Ви маєте можливість здійснити часткову або 100% передплату. При цьому варіанті оплати ви заощаджуєте на доставці відправлення, адже не потрібно платити коміссію за переказ коштів транспортній компанії. Оплата за безготівковим розрахунком здійснюється наступним способом: після оформлення замовлення, менеджер магазину зв’яжеться з Вами і, після уточнення деталей, надішле банківські реквізти для оплати на розрахунковий рахунок компанії. Також можлива оплата на картку ФОП Приватбанку або Універсал банку, або через систему WayForPay.</p>
  <p><strong>Способи доставки</strong></p>
  <ul class="wp-block-list"><li>Нова пошта</li><li>Укр Пошта</li></ul>
  <p><strong>Графік доставки товарів</strong></p>
  <p>Ми здійснюємо відправку товарів щодня 7 днів на тиждень до 18:00. Термін доставки 1-7 дні.</p>
  <p><strong>Способи оплати</strong></p>
  <ul class="wp-block-list"><li>Накладений платіж “Нова Пошта”.</li><li>Накладений платіж “Укр Пошта”.</li><li>Оплата онлайн за допомогою платіжної системи WayForPay</li></ul>
  <p></p>
</app-support-wrapper>
