<form class="order-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="order-form-field">
    <select id="count" formControlName="count">
      <option value="">Обрати Кількість (шт)</option>
      <option *ngFor="let option of countOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div class="order-form-field">
    <input id="name" formControlName="name">
  </div>

  <div class="order-form-field">
    <input id="phone" formControlName="phone">
  </div>

  <button type="submit" [disabled]="myForm.invalid">Придбати Зараз</button>
</form>
