/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6  {
  font-family: "Open Sans", sans-serif;
}

ol[role='list'] {
  list-style: none;
}

img, picture, video, object {
  max-width: 100%;
  height: auto;
  display: block;
}
