<footer>
  <div class="our-shop">
    <a routerLink="">Магазин наших товарів</a>
  </div>
  <div class="our-address">
    <div>Україна, ВУЛ.Європейська, БУД.2, М.ІВАНО-ФРАНКІВСЬК</div>
    <div>example&#64;gmail.com – Електронна пошта для обміну/скарг</div>
  </div>
  <div class="footer-navigation">
    <div><a routerLink="/">Головна</a></div>
    <div><a routerLink="/privacy-policy">Політика конфіденційності</a></div>
    <div><a routerLink="/cookie-policy">Файли cookie</a></div>
    <div><a routerLink="/public-offer">Публічна оферта</a></div>
    <div><a routerLink="/delivery-terms">Оплата та доставка</a></div>
  </div>
</footer>
