<form class="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()" id="order_form">
  <div class="order-form-field">
    <select id="count" formControlName="count">
      <option value="">Обрати Кількість (шт)</option>
      <option *ngFor="let option of countOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div class="order-form-field">
    <input id="name" formControlName="name" placeholder="Введіть Ваше ім'я">
  </div>

  <div class="order-form-field">
    <input id="phone" formControlName="phone" mask="(000) 000-0000" placeholder="Введіть Ваш телефон">
  </div>

  <button type="submit" [disabled]="orderForm.invalid">Придбати Зараз</button>
  <div class="validation-message" *ngIf="orderForm.invalid && orderForm.dirty">Заповінть правильно поля</div>
  <div class="success-message" *ngIf="showSuccessMessage">Дякуємо, незабаром адміністратор зв'яжеться з вами.</div>
</form>
